.navbar-header{
	height: 65px;
}

.search{
	margin-top: 20px;
}

.more{
	margin-top: 12px;
}

.container {
	width:100%;
}

.block-left {
	width:550px;
	float:left;
	margin-left:18px
}

.block-right {
	width:550px;
	float:left; 
	margin-left:18px;
}